<!DOCTYPE html>
<html lang="en-IS">
  <head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" type="text/css" href="/public/styles/urbancje.css" />
  </head>
  <body class = "main-container">
    <header><%- include('../partials/header'); %></header>
    <main>
    <div class = "routes">
      <div class="route-list">
        <% routes.forEach(function(routes) { %>
        <ul>
          <li class = "<%=routes.type%>">
            <a href = "/route?route=<%= routes.number %>&region=<%= query.region %>"">
              <div class = "route-title">Linia <%= routes.number %></div>
              <div class = "route"><%= routes.route %></div>
            </a>
          </li>
        </ul>
      <% }) %> 
      </div>
    </div>
  </body>
  </main>
</html>